.h1_price {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}
table {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
.first_col {
  width: 140px;
}
.fixed_col {
  width: 10%;
  min-width: 70px;
}
.black {
  background: url('/assets/img/black.png') no-repeat 0% 50%; 
  background-size: 12px;
  padding-left: 13px;
}
.y {
  background: url('/assets/img/yellow.png') no-repeat 0% 50%; 
  background-size: 12px;
  padding-left: 13px;
}
.bk {
  background: url('/assets/img/black.png') no-repeat 0% 50%; 
  background-size: 12px;
  padding-left: 13px;
}
.m {
  background: url('/assets/img/magenta.png') no-repeat 0% 50%; 
  background-size: 12px;
  padding-left: 13px;
}
.c {
  background: url('/assets/img/cyan.png') no-repeat 0% 50%; 
  background-size: 12px;
  padding-left: 13px;
}


thead {
  font-weight: bold;
}

thead th {
  background: #0e2334;
  color: #FF9E21;
  border: solid 2px #fff;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  padding: 0 2px;
}

tbody {

}

tbody td {
  height: 22px;
  border: solid 2px #fff;
  vertical-align: middle;

}

tbody td span {
  color: #f00;
}

tbody tr td:nth-child(n+3) {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #ddd;
}
tbody tr:nth-child(even) {
  background: #f5f5f5;
}
