.error_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9A1103;
  max-height: 50%;
  overflow-y: scroll;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}

.error {
  width: 90%;
  margin: 0 auto;
  padding: 7px 0;
}

.error_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
