.gallery {
	background: url(/assets/img/background28.jpg);
	padding-bottom: 15px;
}
.gal_content {
	/*max-width: 1000px;*/
	margin: 0 auto;
	text-align: center;
}
.gal_content h3 {
	text-align: center;
	padding-left: 0;
}
/*.gal_content img {
	max-width: 90%;
	height: auto;
	display: inline;
}*/
.gal_content p {
	margin-bottom: 8px;
}
.gal_conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media (max-width: 850px) {
		.gal_content img {
			max-width: 250px;
		}
	}

@media (max-width: 510px) {
		.gal_content img {
			max-width: 150px;
		}
	}